body {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

#board {

    display: flex;
    cursor: pointer;
}

.slot {
    /* background-color: blue; */
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.slot.won {
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0%		{ background-color: lime;}
    25%		{ background-color: deeppink;}
    50%		{ background-color: lime;}
    75%		{ background-color: deeppink;}
    100%	{ background-color: lime;}
}

.hole {
    /* background-color: ghostwhite; */
    height: 80px;
    width: 80px;
    transform: translate(-30px, -30px);
    border: 40px solid darkblue;
    border-radius: 50%;
}

.player1 {
    background-color: firebrick;
}

.player2 {
    background-color: gold;
}

#indicator-row {
    /* position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%); */
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.indicator {
    width: 0;
    height: 0;
    margin-left: 25px;
    margin-right: 25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid transparent;
    visibility: hidden;
}

.indicator.p1 {
    border-top-color: firebrick;
    visibility: visible;
}

.indicator.p2 {
    border-top-color: gold;
    visibility: visible;
}

/* .indicator.active {
    visibility: visible;
} */



#cursor {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* #winner {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#winner div {
    font-size: 0px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    -webkit-text-stroke: tomato 1px;
} */

/* #popUp::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: .8;
}

#popUp-box {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: 30%;
    height: 20%;
    background-color: white;
    border-radius: 30px; */

}
